[data-theme='alucard'] {
	--crust:   #D0D0D0;
	--mantle:  #E6E6E6;
	--base:    #F8F8F2;
	--surface: #D0D0D0;

	--background:          #F8F8F2;
	--foreground:          #282A36;
	--card:                #E6E6E6;
	--card-foreground:     #282A36;
	--popover:             #E6E6E6;
	--popover-foreground:  #282A36;
	--primary:             #2D005F;
	--primary-foreground:  #F8F8F2;
	--secondary:           #D0D0D0;
	--secondary-foreground:#282A36;
	--muted:               #DDDDDD;
	--muted-foreground:    #6272A4;
	--accent:              #DDDDDD;
	--accent-foreground:   #282A36;
	--destructive:         #5F0000;
	--border:              #D0D0D0;
	--input:               #DDDDDD;
	--ring:                #2D005F;
	--chart-1:             #5F0000;
	--chart-2:             #5F2D00;
	--chart-3:             #5F5F00;
	--chart-4:             #005F00;
	--chart-5:             #005A5F;
	--sidebar:             #E6E6E6;
	--sidebar-foreground:  #282A36;
	--sidebar-primary:             #2D005F;
	--sidebar-primary-foreground:  #F8F8F2;
	--sidebar-accent:              #D0D0D0;
	--sidebar-accent-foreground:   #282A36;
	--sidebar-border:      #D0D0D0;
	--sidebar-ring:        #2D005F;
}

[data-theme='dracula'] {
	--crust:   #191A21;
	--mantle:  #21222C;
	--base:    #282A36;
	--surface: #44475A;

	--background:          #282A36;
	--foreground:          #F8F8F2;
	--card:                #44475A;
	--card-foreground:     #F8F8F2;
	--popover:             #44475A;
	--popover-foreground:  #F8F8F2;
	--primary:             #BD93F9;
	--primary-foreground:  #282A36;
	--secondary:           #44475A;
	--secondary-foreground:#F8F8F2;
	--muted:               #44475A;
	--muted-foreground:    #6272A4;
	--accent:              #44475A;
	--accent-foreground:   #F8F8F2;
	--destructive:         #FF5555;
	--border:              #6272A4;
	--input:               #44475A;
	--ring:                #BD93F9;
	--chart-1:             #FF5555;
	--chart-2:             #FFB86C;
	--chart-3:             #F1FA8C;
	--chart-4:             #50FA7B;
	--chart-5:             #8BE9FD;
	--sidebar:             #21222C;
	--sidebar-foreground:  #F8F8F2;
	--sidebar-primary:             #BD93F9;
	--sidebar-primary-foreground:  #282A36;
	--sidebar-accent:              #44475A;
	--sidebar-accent-foreground:   #F8F8F2;
	--sidebar-border:      #6272A4;
	--sidebar-ring:        #BD93F9;
}
