[data-theme='nord-light'] {
	--crust:   #D8DEE9;
	--mantle:  #E5E9F0;
	--base:    #ECEFF4;
	--surface: #E5E9F0;

	--background:          #ECEFF4;
	--foreground:          #2E3440;
	--card:                #E5E9F0;
	--card-foreground:     #2E3440;
	--popover:             #E5E9F0;
	--popover-foreground:  #2E3440;
	--primary:             #5E81AC;
	--primary-foreground:  #ECEFF4;
	--secondary:           #D8DEE9;
	--secondary-foreground:#2E3440;
	--muted:               #D8DEE9;
	--muted-foreground:    #4C566A;
	--accent:              #D8DEE9;
	--accent-foreground:   #2E3440;
	--destructive:         #BF616A;
	--border:              #D8DEE9;
	--input:               #D8DEE9;
	--ring:                #5E81AC;
	--chart-1:             #BF616A;
	--chart-2:             #D08770;
	--chart-3:             #EBCB8B;
	--chart-4:             #A3BE8C;
	--chart-5:             #88C0D0;
	--sidebar:             #E5E9F0;
	--sidebar-foreground:  #2E3440;
	--sidebar-primary:             #5E81AC;
	--sidebar-primary-foreground:  #ECEFF4;
	--sidebar-accent:              #D8DEE9;
	--sidebar-accent-foreground:   #2E3440;
	--sidebar-border:      #D8DEE9;
	--sidebar-ring:        #5E81AC;
}

[data-theme='nord-dark'] {
	--crust:   #1E2229;
	--mantle:  #252A33;
	--base:    #2E3440;
	--surface: #3B4252;

	--background:          #2E3440;
	--foreground:          #D8DEE9;
	--card:                #3B4252;
	--card-foreground:     #D8DEE9;
	--popover:             #3B4252;
	--popover-foreground:  #D8DEE9;
	--primary:             #88C0D0;
	--primary-foreground:  #2E3440;
	--secondary:           #434C5E;
	--secondary-foreground:#D8DEE9;
	--muted:               #434C5E;
	--muted-foreground:    #4C566A;
	--accent:              #434C5E;
	--accent-foreground:   #D8DEE9;
	--destructive:         #BF616A;
	--border:              #4C566A;
	--input:               #3B4252;
	--ring:                #88C0D0;
	--chart-1:             #BF616A;
	--chart-2:             #D08770;
	--chart-3:             #EBCB8B;
	--chart-4:             #A3BE8C;
	--chart-5:             #88C0D0;
	--sidebar:             #2E3440;
	--sidebar-foreground:  #D8DEE9;
	--sidebar-primary:             #88C0D0;
	--sidebar-primary-foreground:  #2E3440;
	--sidebar-accent:              #3B4252;
	--sidebar-accent-foreground:   #D8DEE9;
	--sidebar-border:      #4C566A;
	--sidebar-ring:        #88C0D0;
}
